<div class="spotify">
  <div class="pulsating-circle"></div>

  <video autoplay loop id="myvid" width="100vw" height="100vh" muted plays-inline>
    <source src="<%= asset_path('girl.mp4') %>" type="video/mp4">
  </video>

  <div class="signin">

    <%= content_tag(:p, "#{notice}", class: "notice" ) if notice %>
    <%= content_tag(:p, "#{alert}", class: "alert" ) if alert %>

    <%= react_component 'Tracker' %>
    <hr>

    <%#= button_to "Generate Playlist", playlists_path %>

    <% if current_user %>
      <%= react_component 'Playlist',
          props: { playlistId: current_user.playlist&.playlist_id } %>


      <br>
      <div><%= image_tag("#{current_user.image}", class: "usericon")%></div>
      <% if current_user.playlist %>
        <iframe src="https://open.spotify.com/embed/playlist/<%=@playlist.playlist_id%>" width="300" height="380" frameborder="1" allowtransparency="true" allow="encrypted-media"></iframe>
      <% end %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <img id="loginlogo" src="https://i.imgur.com/xWrAxYe.png"/>
      <br>
      <%= link_to "sign in with spotify", user_spotify_omniauth_authorize_path %>
    <% end %>
  </div>
  <div class="desktopbody">
    <img id="bblogo" src="https://i.imgur.com/5HybGNd.png"/>
  </div>
</div>
